.container{
    display: flex;
}
.content{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.contentInfo{
    padding: 0;
    margin: 0;
    text-align: center;
}
.title{
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 200%;
}
.button{
    width: 200px;
    height: 100px;
    margin: 0 auto;
}
.notlogged{
    background-color: red;
}
.logged{
    font-size: 40px;
}