.illustration{
    position: relative;
    &-image img{
        height: 100vh;
        display: block;
        padding: 0;
        margin: 0;
    }
}
.absolute{
    position: absolute;
    z-index: 300;
    padding: 0;
    margin: 0;
    width: 170px;
    height: 85px;
    bottom: 0px;
    // left: 45%;
    right: -50px;
}