.section {
    position: relative;
    background-color: #ffffff;
    width: 100%;
    height: 120px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
    box-sizing: border-box;
    margin: 0 0 25px 0;
    box-shadow: 0px 3px 5px 0px rgb(192, 193, 211);
    transition: 1s all ease-in-out;
    &:hover::after {
        content: '';
        height: 95px;
        width: 11px;
        background: linear-gradient(45deg, #7f265b 31%, rgba(209, 24, 24, 1) 100%);
        background-color: #7f265b;
        display: block;
        position: absolute;
        align-items: center;
        right: 3px;
        border-radius: 10px;
        opacity: 1;
    }
}
.sectionSubtitle {
    font-size: 24px;
}
