.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 10px;
    box-sizing: border-box;
    width: 100%;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    &:hover {
        & .background {
            background: linear-gradient(45deg, #7f265b 31%, rgba(209, 24, 24, 1) 100%);
            transition: 0.5s all ease-in-out;
            width: calc(100% - 10px);
            opacity: 1;
        }
        & .text {
            color: white;
            transition: 0.5s all ease-out;
            transition-delay: 0.3s;
        }
    }
}
.background {
    opacity: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-sizing: border-box;
    height: 100%;
    background-color: #ccb4b4;
    position: absolute;
    width: 0;
    z-index: 1;
    right: 0;
    top: 0;
    transition: 0.5s all ease-out;
}
.text {
    display: flex;
    align-items: center;
    transition: 0.2s all ease-out;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: 2;
    & img {
        margin: 0 10px 0 0;
    }
}
.active {
    background: linear-gradient(45deg, #7f265b 31%, rgba(209, 24, 24, 1) 100%);
    transition: 0.5s all ease-in-out;
    width: calc(100% - 10px);
    opacity: 1;
}
