.container{
    padding: 5px;
    box-sizing: border-box;
}
.title{
    font-size: 18px;
    font-weight: 650;
    padding: 0 30px;
    box-sizing: border-box;
}
.desc{
    padding: 0 30px;
    box-sizing: border-box;
    font-size: 14px;
}