.container {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 25px;
}
.leftContainer {
    width: 50%;
    background-color: rgb(211, 211, 211);
    box-sizing: border-box;
    border-radius: 5px;
}
.rightContainer {
    width: 50%;
    box-sizing: border-box;
}
.tabs{
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    & div{
        border-left: 1px solid black;
        padding: 5px 10px;
        cursor: pointer;
    }
}
.active{
    display: block;
}
.noactive{
    display: none;
}